/*General class selectors*/

.box {
    background-color: rgb(240, 232, 164);
    padding: 2.5em;
    min-width: fit-content;
    max-width: 50%;
    margin: 1em 0 1em 0;
    border-radius: 5px;
}

.textBox {
    background-color: rgba(211, 211, 211, 0.3);
    text-align: center;
    padding: 5em;
    border-bottom: 1px solid black;
}
.textBox h2 {
    text-align: left;
    padding-bottom: 0.5em;
}
